@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
html {
  position: relative;
  min-height: 100%;
  /*filter: hue-rotate(90deg);
  -webkit-filter:  hue-rotate(90deg);
  -ms-filter:  hue-rotate(90deg);*/
}
body{
  font-family: Cambria, Georgia, serif;     
  background-color: rgb(238, 238, 238);
  padding-top: 20px;
  margin: 0 0 75px;       	  
}
h1{
	margin-top: 40px;
  margin-bottom: 20px;
	font-style: italic;
	letter-spacing: -1px;
  text-align: center;     	
}
h2{
  text-align: center;
  font-style: italic;
}
fieldset{
  position: relative;
  width: 100%;  
}
form+h4{
  margin: 25px 0 20px 0;
}
legend{  
  font-size: 20px;
  font-style: italic;
  letter-spacing: -1px;
}

/*Classe do Botão de Login da pagina ini*/
.btnlogin{  
  left: 50%;
  margin-left: -85px; /* A metade de sua largura. */
  position: relative;
  width: 170px; /* O valor que você desejar. */		
  height: 45px;    
  border-radius: 24px;  
  font-size: 18px;        
  letter-spacing: 1px;
  margin-top: 5px;      
}  
.logo{
  width: 100%;
}
/*Classe para as mensagens de erro*/
.valida{  
  width: 100%;
  margin-bottom: 5px;  
  float: left;
  text-align: center;  
}
/*Rodapé do Site*/
.main{
  padding-bottom: 75px;
}
footer{
  padding: 15px 0;   
  position: absolute;
  bottom: 0;  
  width: 100%;  
  text-align: center;
  font-size: 18px;
  background-color: rgb(239, 168, 67);
  /* css que muda de cor com o tempo
  -webkit-animation: hue 60s infinite linear;*/    
}
/*Css que se aplica em celulares*/
label{
  float: left;
  clear: both;
  width: 100%;  
}
.ee{
  margin-bottom: 10px;
}
.radioee{
  float: left;
  width: 18px;
  height: 18px !important; 
}

div+fieldset{  
  margin-top: 100px;
}
.btncfp{
  font-size: 18px;  
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
  border-radius: 24px;
}
/*Css que se aplica somente em tablets e desktop*/
@media (min-width: 768px) {
  .ee{
  margin-bottom: 10px;      
  width: 73% !important;
  height: 35px !important;
  padding: 0 5px;
  float: left;            
  }
  label{
  width: 20%;     
  line-height: 35px;
  margin-right: 15px;
  margin-left: auto;      
  text-align: right;    
  float: left;
  clear: both;                  
  }
  .radioee{
    margin-bottom: 10px;          
    width: 18px;
    height: 18px !important;
    padding: 0 5px;
    float: left;     
  }
  .btncfp{    
    float: left;
    text-align: center;
    width: 48%;    
  }
}